</head>
<body>
    <h1>404 Page Not found</h1>
    <img class="Img404" src="https://error404.fun/img/full-preview/2x/29.png" alt="error.404">
</body>
</html>

<style>

body{
 overflow-x: hidden;
}
.Img404{
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:600px;
}
</style>